<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Airport</title>
</head>
<body>
    <h1><%= airport.name%></h1>
    <h2><%= airport.location%></h2>
    <p>
        <a href="/airports/<%=airport._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/airports/<%=airport._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/airports">All Airports</a>
    </footer>
</body>
</html>